@import "tailwindcss";

@theme inline {
    --color-primary: #011a2e;
    --color-primarybg: #091926;
    --color-auxiliary: #516e85;
    --color-secondary: #ba923d;
    --color-mainwhite: #ece9e0;
    --animate-custom-transform: custom-transform 300ms
        cubic-bezier(0.4, 0, 0.2, 1);
    --font-sora:
        "Sora", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --font-roboto:
        "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@layer utilities {
    .custom-transform {
        @apply transition duration-300 hover:scale-105 cursor-pointer;
    }
}
